@import '../../../../consts.scss';

.taskItem{
    margin-bottom: 10px;
    line-height: 1;
  label{
      display: flex;
      position: relative;
      font-weight: bolder;
      input{
          position: absolute;
          left: -45px;
          top: 4px;
      }
  }
  p{
      font-size: 12px;
  }
}


.little{
    font-size: 12px;
    margin-bottom: 15px;
    div{
        color: white;
    }
    label{
        display: flex;
        input{
            opacity: 0.4;
            margin-right: 10px;
            top: 4px;
        }
    }
    p{
       display: none;
    }
  }










.completed{
    text-decoration: line-through;
    color: $colorRed;
   
}