
.karuselContainer{
    max-width: 100%;
    position: relative;
    .karusel{
        display: flex;
        overflow-x: hidden;
        flex-wrap: nowrap;
        border-radius: 6px;
       
        .karuselWindow{
            display: flex;
            width: 800px;
            transition: transform .5s ease-in-out;
            gap: 8px;
        }

    }
    .arrowRight, .arrowLeft{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        opacity: 0.3;
        top: 110px;
        z-index: 4;
        transition: opacity .1s ease-in-out;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }
        &:active{
            opacity: 0.8;
        }
    }
    .arrowRight{
        right: -24px;
        transform: rotate(180deg);
        
    }
    .arrowLeft{
        left: -24px;
    }


}



