@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Raleway', 'Roboto', sans-serif;
}

.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px 60px;
    background-image: url(./img/background.jpg);
    .AppContainer{
        padding: 40px;
        width: 90%;
        min-width: 300px;
        max-width: 800px;
        background-color: white;
        box-shadow: 0 0 5px rgba(16, 16, 16, 0.282);
        border-radius:4px;
        overflow-x: hidden;
    }
}